
        .nav {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #045276;
            }
    
        ul {
            list-style-type: none;
        }
    
    li {
      float: right;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    
    li a:hover {
      /* background-color: #111111; */
    }
    
    .hero {
        width: 81%;
    margin-left: auto;
    margin-right: auto;
    }

    .testimonia {
        background-color: #045276;
        height: 400px;
        margin-top: 80px;
    }

    .testimonia::after {
        display: table;
    }

    .testimonia .first {
        height: 200px;
        padding: 20px;
        margin-left: 150px;
        float: left;
        /* border: 1px solid #fff; */
        width: 400px;
        padding-left: 50px;
        padding-top: 50px;
        margin-top: 30px;
        color: #fff;
    }

    .testimonia .first p {
        margin-top: 30px;
    }


    .testimonia .second {
        height: 200px;
        padding: 20px;
        margin-left: 100px;
        float: left;
        /* border: 1px solid #fff; */
        width: 400px;
        padding-top: 50px;
        margin-top: 30px;
        color: #fff;
        font-family: arial black;
        font-size: 15px;
        /* padding-top: 10px; */
    }
    .box{
        float: left;
        width: 33.33%;
        padding: 50px;
    }